[user]
	email = jeff@westcoastcode.com
	name = jbend
  signingkey = jeff@westcoastcode.com

[commit]
  gpgsign = true

[tag]
  gpgSign = true

[credential "https://github.com"]
	helper = 
  helper = !/usr/bin/gh auth git-credential

[alias]
	lg = log --pretty='%C(red)%h%Creset%C(yellow)%d%Creset %s %C(cyan)(%ar)%Creset'
	new = lg main..HEAD
	missing = lg HEAD..main
	glt = log --oneline --decorate --graph --all
	glta = log --graph --pretty='\\''%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'/'' --all

[gpg]
  program = /usr/local/bin/gpg

[core]
  pager = delta
  sshCommand = /mnt/c/Windows/System32/OpenSSH/ssh.exe

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  dark = true

[merge]
  conflictStyle = zdiff3
